{% extends 'SistemaEscolar/base.html' %}  
{% block content %} 
	


	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
	
		<div class="shadow-lg p-3 mb-5 bg-body rounded">
		  	<div class="row">

		  		<div class="col-8">		    
			      <label for="inputName">Nome</label>
			      {{alunoform.nome}}
			    </div>
			    <div class=" col-4">
			      <label for="inputcpf">Cpf</label>
			      {{alunoform.cpf}}
			    </div>
		  	</div>
		  	<div class="row">
			  	<div class="col-4">	
			    <label for="inputDate">Data Nascimento</label>
			    {{alunoform.nascimento}}
			    </div>
			  <div class="col-4">
			    <label for="inputEmail">Email</label>
			    {{alunoform.email}}
			  </div>
			
		 
		    	<div class="col-4"> 
			      <label for="inputContato">Contado</label>
			     {{alunoform.contato}}
		    	</div>
		    	<div class="col-4">
			    	
			    	<button type="submit" class="btn btn-primary">Salvar</button>
			    </div>  
			</div>  
		</div>    
	</form>
		
{% endblock %} 